{
    "directories": {
        "group-one": {
            
        },
        "group-two": {
            
        }
    },
    "config": {
        "importantFilePrefix": "!",
        "importantFileCheckout": "3"
    }
}
